html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #9ec1e1;
}

body {
  width: px;
  margin: 5 auto;
  background-color: #fdc97f;
  padding: 20px 20px 20px 20px;
  border: 50px solid black;
}

h1 {
  margin: 0;
  padding: 20px 20px;
  color: #000000;
  text-shadow: 1px 1px 1px #098bccb8;
}
